/*.tab-nav .ant-tabs-nav::before {*/
/*    border-bottom: 2px solid #ff0000;*/
/*    width: 100vw;*/
/*}*/


.create-competition-page {
    .tab-label {
        width: auto;
        display: inline-block;
        text-align: center;
    }
}
